@model SDMIndonesiaReportsDB.Model.SystemUser
@{
    ViewBag.Title = "SDM Indonesia Reports | Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    bool enableMultiLingual = bool.Parse(SDMIndonesiaReports.Shared.SessionContainer.MultiLingual.ToString());
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>Metronic | @Resources.Account_Resource.LoginPage</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">

    @{
        if (enableMultiLingual)
        {
            <ul class="nav pull-right" style="text-align:center">

                <li class="dropdown user" style="text-align:center">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align:center">
                        @{
            if (SDMIndonesiaReports.Shared.CultureHelper.IsRighToLeft())
            {
                <i class="icon-angle-down"></i>
                if (SDMIndonesiaReports.Shared.CultureHelper.GetCurrentCulture() == "ar-EG")
                {
                    <img src="~/assets/img/eg-flag.png" /> <span class="username">Arabic</span>
                }
            }
            else
            {
                if (SDMIndonesiaReports.Shared.CultureHelper.GetCurrentCulture() == "en-US")
                {
                    <img src="~/assets/img/en-flag.png" />  <span class="username">English</span>

                }
                else
                {
                    <img src="~/assets/img/es-flag.png" />  <span class="username">Espanol</span>
                }

                <i class="icon-angle-down"></i>
            }
                        }

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            @{
            var hh = ViewContext.RouteData.Values["action"].ToString();

                            }
                            <a href="javascript:setCulture('en');">
                                <img src="~/assets/img/en-flag.png" />&nbsp English
                            </a>
                        </li>
                        <li>
                            <a href="javascript:setCulture('ar');">
                                <img src="~/assets/img/eg-flag.png" />&nbsp Arabic
                            </a>

                        </li>
                        <li>
                            <a href="javascript:setCulture('es');">
                                <img src="~/assets/img/es-flag.png" />&nbsp Espanol
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    }
    <!-- BEGIN LOGIN FORM -->
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @style = "color:red" })
		<!--<form class="form-vertical login-form" action="index.html">-->
        <h3 class="form-title">@Resources.Account_Resource.ResetInstructions</h3>
        <div class="alert alert-error hide">
            <button class="close" data-dismiss="alert"></button>
            <span>@Resources.Account_Resource.EnterYourEmail</span>
        </div>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-envelope"></i>
                    <div class="m-wrap placeholder-no-fix">
                        @Html.TextBoxFor(U => U.Email, new { @name = "email", @class = "m-wrap placeholder-no-fix", @placeholder = "Email address" })
                        @Html.ValidationMessageFor(U => U.Email)
                    </div>
                    <!--<input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="username"/>-->
                </div>
            </div>
        </div>
        @*<div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                         @Html.PasswordFor(U => U.Password, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Password" })
                         @Html.ValidationMessageFor(U => U.Password)
                    </div>
                </div>
            </div>*@
        <div class="form-actions">
            @*<label class="checkbox">
                <input type="checkbox" name="remember" value="1"/> Remember me
                </label>*@
            <button type="submit" class="btn green pull-right">
                Continue <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    }
    <div class="forget-password">
        <h4>@Resources.Account_Resource.TemporaryPasswordQ</h4>
        <p>
            @Resources.Account_Resource.ThenTryIt <a href='@Url.Action("ResetPassword")' class="" id="forget-password">@Resources.Account_Resource.Here</a>
            @Resources.Account_Resource.GetYourPassword
            <br />
            <a href='@Url.Action("Login")' id="backToLogin">@Resources.Account_Resource.BackToLogin</a>
        </p>
    </div>
    @*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-vertical forget-form", style = "display: none;" }))
        {
        <!--<form class="form-vertical forget-form" action="ForgotPassword" novalidate="novalidate" style="display: none;">-->
            <h3 class="">Forgot Password ?</h3>
            <p>Enter your e-mail address below to reset your password.</p>
            <div class="control-group">
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        @Html.TextBoxFor(u => u.Email, new {@class="m-wrap placeholder-no-fix", placeholder="Email" })
                        <!--<input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email">-->
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                <i class="m-icon-swapleft"></i> Back
                </button>
                <button type="submit" class="btn green pull-right">
                Submit <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        <!--</form>-->
        }*@
    <p>@Resources.Account_Resource.Copyright</p>
    @Scripts.Render("~/bundles/AccountViewJS")
    @Scripts.Render("~/bundles/LoginJS")
    <script>
	    jQuery(document).ready(function () {
	        App.init();
	        Login.init();
	    });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
</html>
